.jumbotron
  .row
    %div(class="col-sm-6" id="vid_container")
      %iframe(width="560" height="315" src="https://www.youtube.com/embed/M6fsky8mlis")
    %div(class="col-sm-6" id="vid_intro")
      %h2 Apocalypse
      %p Apocalypse (En Sabah Nur) is thousands of years old and enemy of the X-Men. Believed to be the first mutant, Apocalypse is cybernetically enhanced by celestial technology.
      = link_to 'Quiz', '', class: 'btn btn-primary btn-lg'
      = link_to 'Follow', '', class: 'btn btn-primary btn-lg'

%section.biography
  .col-sm-8
    %h2 Origin
    %hr
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quod nemo, magnam nulla necessitatibus vitae fuga totam atque perspiciatis exercitationem sed ea eius libero pariatur eum temporibus ipsum illo corrupti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam sapiente nobis aperiam a voluptates reiciendis. Praesentium omnis eaque similique fugit aperiam corporis dolor, nostrum ab amet ducimus! Dolor, pariatur dicta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quod nemo, magnam nulla necessitatibus vitae fuga totam atque perspiciatis exercitationem sed ea eius libero pariatur eum temporibus ipsum illo corrupti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam sapiente nobis aperiam a voluptates reiciendis. Praesentium omnis eaque similique fugit aperiam corporis dolor, nostrum ab amet ducimus! Dolor, pariatur dicta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. 

  .panel.panel-default.info
    .panel-heading
      %h3.panel-title Information
    .panel-body
      %p Name
      %p Alias
      %p Abilities
      %p Publisher
    
