/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Crete Round', serif;
}

.search-form {
  border-radius: 30px 0px 0px 30px;
}

.search-btn {
  border-radius: 0px 30px 30px 0px;
}

.alert, .progress {
  margin: 0 5%;
}

.progress {
  height: 30px;
  border-radius: 15px;
}

.img_container {
  text-align: center;
  padding: 20px;
}

.img {
  height: auto;
  width: auto;
  max-width: 384px;
  max-height: 512px;
}

.thumbnail img {
  border-radius: 7px;
  border: 2px solid white;
}

#img_wrapper {
  text-align: center;
}

iframe {
  display: inline-block;
  border: 1px solid black;
}

section.biography {
  margin: 0 2.5%;
}

.preview {
  box-shadow: 10px 10px black;
}

section.biography > p {
  float: left;
}

.info {
  display: inline-block;
  width: 30%;
  float: right;
}

p {
  text-align: justify;
}


